
@import "mixin";



body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 0;
    font-family: sans-serif;
    .break {
        width: 10px;
        height: 20px;
    }
    .container {
        width: 100%;
        height: auto;
        height: auto;
        @include desktop {
            height: 350px;
        }       
        .sidebar, section {
            display: block;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 50%;
            width: 100%;
            margin-bottom: 10px;
            @include desktop {
                display: inline-block;
                height: 100%;
                margin: 0;
                border: 0;
            }
            h1 {
                display: flex;  
                width: 80%;
                height: 120px;
                -webkit-margin-before: 0;
                -webkit-margin-after: 0; 
                color: white;
                font-size: 7vmin;
                font-weight: bold;
                position: relative;
                left: 5vw;
                top: 3vh;
                margin: 0;
                padding-right: 10px;
      }
        }
        
        .sidebar {          
            background-color : dimgrey;
            background-image: url(../images/main-header.jpg);
            @include desktop{
                width: 24.5%;
            }
             h1 { 
                 @include desktop {
                     left: 2vw; //position
                     width: 80%;
                 }          

      }
        }
        
        section {
            background-color: dodgerblue;
            background-image:url(../images/main-section-mobile.jpg);
            @include desktop {
               width: 74.5%;
               background-image:url(../images/main-section-desktop.jpg);
            }
            h1 {
                @include desktop {
                    left: 40vw; //position
                    width: 40%;
                }
                
            }
        }
        .bw {
            height: auto;  
            background-color: lightgrey;
            background-blend-mode: screen;
            overflow: hidden;  
            margin-bottom: 10px;
            font-size: 12vmin;
            @include desktop{
                width: 49.5%;
            }
            p.article {
                height: auto;
                font-size: 40%;
                padding: 3vmin;
                color: darkslategrey;
                font-weight: bold;
                text-indent: 10%;
                -webkit-margin-before: 0;
                -webkit-margin-after: 0; 
                margin-bottom: 10px;
                margin-top: 10px;    
                @include desktopSmall {
                    font-size: 25%;
                }
                 @include bigScreen {
                    font-size: 28%;
                }
                @include highResolution {
                    font-size: 30%;
                }
                 @include retina {
                    font-size: 33%;
                } 
          }
        }
        
    }   
}



